body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    background-size: cover;
    background-position: center;
    color: #333;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

.main {
    padding: 20px;
}

.section {
    padding: 40px 0;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.place {
    margin-bottom: 40px;
}

.place h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.place p {
    color:black;
    margin-bottom: 10px;
}

.place img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.footer {
    background-color:red(255, 255, 255, 0.8);
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    color: #666;
}
